.checkout {
    margin-bottom: 10rem;
    padding-top: 20rem;

    @include breakpoint(mobile) {
        margin-bottom: 7rem;
        padding-top: 16rem;
    }
}

.checkout__row {
    display: flex;
    @include breakpoint(small-tablet) {
        flex-direction: column;
    }
}

.checkout__left-col {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(small-tablet) {
        width: 100%;
        margin-bottom: 7rem;
        display: contents;
    }
}

.checkout__right-col {
    width: 48rem;
    margin-left: 16rem;

    @include breakpoint(tablet) {
        margin-left: 5rem;
    }

    @include breakpoint(small-tablet) {
        margin: 0;
        width: 100%;
        display: contents;
    }
}

.checkout__cart {
    margin-top: 4.8rem;

    @include breakpoint(mobile) {
        margin-top: 4rem;
    }
}

.checkout__cart-list {
    border-top: 1px solid black;
}
.checkout__cart-list-item {
    border-bottom: 1px solid #efefef;
    &:last-child {
        border: none;
    }
}

.checkout__heading {
    font-size: 1.6rem;
    line-height: 2rem;

    &--with-bar {
        padding-bottom: 2.2rem;
        border-bottom: 1px solid black;
    }
}

.checkout__cart-card {
    padding: 3.2rem 0;
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        padding: 2.4rem 0;
    }
}

.checkout__cart-card-image-container {
    width: 7rem;
    height: 8rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 2.4rem;
}

.checkout__cart-card-content {
    width: 50%;
    flex-grow: 1;
    display: flex;

    font-family: var(--sfui);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2a2a2a;
}

.checkout__cart-card-title {
    font-weight: 400;
    margin-bottom: 0.4rem;
}

.checkout__cart-card-color {
    margin-bottom: 0.4rem;
}

.checkout__cart-card-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: 1;
}

.checkout__cart-card-price {
    flex-shrink: 0;
    margin-left: 2rem;
    text-align: right;
}

.checkout__cart-card-price {
    color: black;
    font-weight: 500;
}

.checkout__cart-card-price-old {
    text-decoration: line-through;
    margin-bottom: 0.4rem;
}

.checkout__cart-totals {
}

.checkout__cart-totals-item {
    padding: 2.5rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-family: var(--sfui);
    font-size: 1.4rem;
    line-height: 2rem;
    border-bottom: 1px solid #efefef;
    font-size: 1.4rem;
    line-height: 2rem;

    &:last-child {
        border: none;
    }

    strong {
        font-weight: 500;
    }
}

.checkout__cart-totals-item-key {
    color: #313131;
}

.checkout__status {
    margin-bottom: 6rem;
}

.checkout__status-stages-names {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.5rem;
}

.checkout__status-stages-name {
    font-family: var(--sfui);
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: #808080;
    &--filled {
        color: #313131;
    }
    &:first-child {
        text-align: left;
    }

    &:last-child {
        text-align: right;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.checkout__status-indicators {
    display: flex;
    align-items: center;
}

.checkout__status-indicator-circle {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid #aeb4bb;
    background-color: #fff;
    position: relative;

    &--filled {
        border-color: black;
        background-color: black;
    }

    &--passed {
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            z-index: 20;
            background-color: #000;
            background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.93 8.3'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M11.63.3a1,1,0,0,0-1.42,0h0L4.59,5.93l-3-2.63a1,1,0,0,0-1.4.21,1,1,0,0,0,0,1.21L3.92,8A1,1,0,0,0,5.33,8l.14-.16.16-.13,6-6a1,1,0,0,0,0-1.42Z' /%3E%3C/svg%3E");
            background-position: center;
            background-size: 1.2rem 0.8rem;
            background-repeat: no-repeat;
        }
    }
}

.checkout__status-indicator-bar {
    width: 50%;
    flex-grow: 1;
    height: 1px;
    background-color: #aeb4bb;

    &--filled {
        background-color: #000;
    }
}

.checkout__form-user-info {
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.checkout__form-heading {
    display: flex;
    align-items: baseline;
    margin-bottom: 4rem;
    justify-content: space-between;
    font-family: var(--sfui);
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    color: #313131;
}
.checkout__has-account-link {
    font-family: var(--sfui);
    color: #808080;
    font-size: 1.4rem;
    line-height: 2rem;
    border-bottom: 1px solid #808080;
    transition: border-color 0.2s;

    &:link,
    &:visited {
        color: #808080;
    }

    &:hover {
        border-color: transparent;
    }
}
.checkout__form-user-info-row,
.checkout__form-delivery-row {
    display: flex;
    flex-wrap: wrap;
    margin: -0.8rem -1.6rem;
}

.checkout__form-user-info-col,
.checkout__form-delivery-col {
    width: 50%;
    padding: 0.8rem 1.6rem;

    &--fullwidth {
        width: 100%;
        padding: 2.4rem 1.6rem;
    }

    &--address-checkbox {
        padding-bottom: 2.4rem;

        @include breakpoint(mobile) {
            padding-bottom: 0.8rem;
        }
    }

    @include breakpoint(mobile) {
        width: 100%;
    }
}

.checkout__form-delivery-inner-row {
    display: flex;
    flex-wrap: wrap;
    margin: -0.8rem;
    @include breakpoint(mobile) {
        margin: -0.8rem -1.6rem;
    }
}

.checkout__form-delivery-inner-col {
    padding: 0.8rem;
    width: 33.33%;

    @include breakpoint(mobile) {
        width: 50%;
        padding: 0.8rem 1.6rem;
    }
}

.checkout__use-promo {
    padding-top: 3.2rem;

    border-top: 1px solid #efefef;
    margin-top: 2rem;
}

.checkout__use-promo-checkbox {
    margin-bottom: 3.2rem;
}

.checkout__form-delivery-checkbox {
    user-select: none;
    cursor: pointer;
    margin-bottom: 2rem;
}

.checkout__form-delivery-checkbox-input {
    @include visuallyHidden();
}

.checkout__form-delivery-checkbox-content {
    border: 1px solid #efefef;
    min-height: 11rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    font-family: var(--sfui);
    transition: border-color 0.2s;
}

.checkout__form-delivery-checkbox-content-type {
    display: flex;
    align-items: center;
    color: #808080;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    transition: color 0.2s;
}

.checkout__form-delivery-checkbox-mark {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    border: 1px solid black;
    margin-right: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s;
    border-radius: 50%;

    &::before {
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: #000;
        pointer-events: none;
        transition: opacity 0.2s;
        opacity: 0;
        border-radius: 50%;
    }
}

.checkout__form-delivery-checkbox-content-address {
    margin-top: auto;
    color: #808080;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: uppercase;
    padding-left: 2.8rem;
    transition: color 0.2s;
}

.checkout__form-delivery-checkbox-input:checked ~ .checkout__form-delivery-checkbox-content {
    border-color: black;

    .checkout__form-delivery-checkbox-mark::before {
        opacity: 1;
    }

    .checkout__form-delivery-checkbox-content-type,
    .checkout__form-delivery-checkbox-content-address {
        color: black;
    }
}

.checkout__form-submit-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        justify-content: initial;
    }
}

.checkout__form-submit {
    padding: 1.7rem 4rem;
    background-color: #181818;
    color: white;
    flex-shrink: 0;
    font-family: var(--sfui);
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.2;

    @include breakpoint(mobile) {
        width: 100%;
    }
}

.checkout__rules {
    margin-top: 6rem;

    @include breakpoint(small-tablet) {
        order: 10;
    }
}

.checkout__cart-wrapper {
    @include breakpoint(small-tablet) {
        margin-top: 7rem;
    }
}

.checkout__form-delivery {
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
}

.checkout__form-back-link {
    display: inline-flex;
    align-items: center;
    font-family: var(--sfui);
    font-size: 1.4rem;
    color: #808080;
    margin-right: auto;
    &:link,
    &:visited {
        color: #808080;
    }

    .no-touch &:hover {
        color: black;
    }
    svg {
        width: 0.6rem;
        height: 1.2rem;
        flex-shrink: 0;
        fill: #1D2734;
        margin-right: 1rem;
    }


    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.checkout__form-payment-checkbox {
    cursor: pointer;
    user-select: none;
}


.checkout__form-payment-checkbox-content {
    display: flex;
    align-items: center;
    padding: 1.6rem;
    min-height: 6.4rem;
    border: 1px solid #efefef;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: var(--sfui);
    color: #808080;
    transition: color .2s, border-color .2s;
}

.checkout__form-payment-checkbox-mark {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    border: 1px solid black;
    margin-right: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s;
    border-radius: 50%;

    &::before {
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: #000;
        pointer-events: none;
        transition: opacity 0.2s;
        opacity: 0;
        border-radius: 50%;
    }
}

.checkout__form-payment-checkbox-text {
    width: 30%;
    flex-grow: 1;
}

.checkout__form-payment-checkbox-image {
    height: 3rem;
    width: auto;
    flex-shrink: 0;
}

.checkout__form-payment-checkbox-input {
    @include visuallyHidden();
}

.checkout__form-payment-checkbox-input:checked ~ .checkout__form-payment-checkbox-content {
    border-color: black;
    color: black;

    .checkout__form-payment-checkbox-mark::before {
        opacity: 1;
    }
}

.checkout__form-payment {
    margin-bottom: 7rem;
    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.checkout__cart-card-quantity {
    
}