.checkout {
    margin-bottom: 10rem;
    padding-top: 20rem;
}

.checkout__row {
    display: flex;
}

.checkout__left-col {
    width: 48rem;
    margin-right: 17rem;
}

.checkout__right-col {
    width: 50%;
    flex-grow: 1;
}

.checkout__cart {
    margin-top: 4.8rem;
}

.checkout__cart-heading {
    margin-top: 1.4rem;
}

.checkout__cart-list {
    border-top: 1px solid black;
}
.checkout__cart-list-item {
    border-bottom: 1px solid #efefef;
    &:last-child {
        border: none;
    }
}

.checkout__heading {
    font-size: 1.6rem;
    line-height: 2rem;

    &--with-bar {
        padding-bottom: 2.2rem;
        border-bottom: 1px solid black;
    }
}

.checkout__cart-card {
    padding: 3.2rem 0;
    display: flex;
    align-items: center;
}

.checkout__cart-card-image-container {
    width: 7rem;
    height: 8rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 2.4rem;
}

.checkout__cart-card-content {
    width: 50%;
    flex-grow: 1;
    display: flex;

    font-family: var(--sfui);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    color: #2a2a2a;
}

.checkout__cart-card-title {
    font-weight: 400;
    margin-bottom: 0.4rem;
}

.checkout__cart-card-color {
    margin-bottom: 0.4rem;
}

.checkout__cart-card-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: 1;
}

.checkout__cart-card-price {
    flex-shrink: 0;
    margin-left: 2rem;
    text-align: right;
}

.checkout__cart-card-price {
    color: black;
    font-weight: 500;
}

.checkout__cart-card-price-old {
    text-decoration: line-through;
    margin-bottom: 0.4rem;
}

.checkout__cart-totals {
    margin-top: 2.5rem;
}

.checkout__cart-totals-item {
    padding: 2.5rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-family: var(--sfui);
    font-size: 1.4rem;
    line-height: 2rem;
    border-bottom: 1px solid #efefef;
    font-size: 1.4rem;
    line-height: 2rem;
}

.checkout__cart-totals-item-key {
    color: #313131;
}

.checkout__cart-totals-item-value {
    color: black;
    font-weight: 500;
}

.checkout__form-delivery-heading-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
}

.checkout__login-btn {
  
    margin-left: 2rem;
    min-width: 20rem;
  
    
}

.checkout__form-address-data {
    margin-bottom: 4.8rem;
}

.checkout__form-delivery-fields-row {
    display: flex;
    margin: -.8rem -1.6rem;
    flex-wrap: wrap;
}

.checkout__form-delivery-fields-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: .8rem 1.6rem;
}

.checkout__form-select-type-row {
    display: flex;
    flex-wrap: wrap;
    margin: -.8rem -1.6rem;
}

.checkout__form-select-type-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: .8rem 1.6rem;
}

.checkout__form-select-type-list-item {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
    min-height: 7rem;
}

.checkout__form-select-type-text {
    text-align: right;
    font-family: var(--sfui);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: black;
}

.checkout__form-select-type-image {
    height: 3.6rem;
    width: auto;
    flex-shrink: 0;

}

.checkout__form-select-type {
    margin-bottom: 10rem;
}

.checkout__form-pay-row {
    display: flex;
    flex-wrap: wrap;
    margin: -.8rem -1.6rem;
}

.checkout__form-pay-col {

    display: flex;
    flex-direction: column;
    width: 50%;
    padding: .8rem 1.6rem;
}

.checkout__form-total {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.checkout__form-total-price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1.7rem 0;
    font-family: var(--sfui);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: #313131;
    border-top: 1px solid black;
    margin-bottom: 4rem;
}

.checkout__form-total-price-amount {
    text-align: right;
}

.checkout__form-total-price-text {

}

.checkout__form-policy {
    .parsley-errors-list {
        display: none;
    }
}

.checkout__form-submit {
   
    margin-top: 5rem;
    margin-left: auto;
  
    min-width: 19.4rem;
    
}