.page-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 700;
    // padding-top: 4.5rem;
    transition: background-color 0.3s, box-shadow 0.3s;

    &.js-fixed-header {
        position: fixed;
    }

    &--filled,
    &.fixed,
    &.catalog-menu-open {
        background-color: white;
    }

    &.catalog-menu-open {
        @include breakpoint(mobile) {
            background: transparent;
        }
    }

    &.fixed {
        border-bottom: 1px solid #cfcfcf;
        @include breakpoint(mobile) {
            border: none;
            box-shadow: 0 0 1rem rgba(black, 0.1);
        }
    }

    @include breakpoint(mobile) {
        padding-bottom: 2rem;
        // padding-top: 3rem;
        &::before {
            content: '';
            position: absolute;
            left: 0.4rem;
            top: 0.4rem;
            right: 0.4rem;
            bottom: 0;
            background-color: #fff;
            border-bottom: 1px solid #efefef;
            z-index: 1200;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0s linear 0.3s;

            .mobile-menu-open & {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.3s, visibility 0.3s;
            }
        }
    }
}

.page-header__promo {
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0.8rem;
    z-index: 1;
    text-align: center;


    .page-header.fixed &,
    .mobile-menu-open & {
        display: none;
    }
    br {
        display: none;
    }

    @include breakpoint(mobile) {
        br {
            display: block;
        }
    }
    &::before {
        content: '';
        position: absolute;
        left: calc(-1 * (100vw - 100%) / 2);
        width: 100vw;
        top: 0;
        bottom: 0;
        background-color: #F3D551;
        z-index: -1;
    }
}

.page-header__row {
    display: flex;
    align-items: flex-start;

    padding-top: 4.5rem;

    .page-header--filled &,
    .page-header.fixed & {
        padding-bottom: 4rem;
        @include breakpoint(mobile) {
            padding: 0;
        }
    }

    .page-header--filled & {
        border-bottom: 1px solid #cfcfcf;
        @include breakpoint(mobile) {
            border: none;
        }
    }

    .page-header--no-bar & {
        border: none;
    }

    .page-header.fixed & {
        border: none;
    }

    @include breakpoint(mobile) {
        padding-top: 3rem;
    }
}

.page-header__left-block,
.page-header__right-block {
    flex-basis: 24rem;
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        flex-basis: 3rem;
    }
}

.page-header__right-block {
    justify-content: flex-end;
}

.page-header__logo-block {
    width: 50%;
    flex-grow: 1;
}

.page-header__search-btn {
    color: black;
    margin-right: 2rem;

    @include breakpoint(mobile) {
        display: none;
    }

    svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: black;
        display: block;
        transition: fill 0.2s;
        .page-header--dark & {
            fill: #b3b3b3;
        }
    }
    &:link,
    &:visited {
        color: black;
    }

    .page-header--dark & {
        color: #b3b3b3;
        &:link,
        &:visited {
            color: #b3b3b3;
        }

        &:hover {
            color: black;
            svg {
                fill: black;
            }
        }
    }

    &:hover {
        color: white;
    }

    .page-header.fixed &,
    .page-header--filled &,
    .catalog-menu-open & {
        svg {
            fill: #b3b3b3;
        }

        &:hover {
            svg {
                fill: black;
            }
        }
    }
}

.page-header__login-link {
    font-size: 1.4rem;
    margin-left: auto;
    font-weight: 500;
    color: black;

    text-transform: uppercase;
    font-weight: 500;

    @include breakpoint(mobile) {
        display: none;
    }
    &:link,
    &:visited {
        color: black;
    }

    .page-header--dark & {
        color: #b3b3b3;
        &:link,
        &:visited {
            color: #b3b3b3;
        }

        &:hover {
            color: black;
        }
    }

    .page-header.fixed &,
    .page-header--filled &,
    .catalog-menu-open & {
        color: #b3b3b3;
        &:link,
        &:visited {
            color: #b3b3b3;
        }

        &:hover {
            color: black;
        }
    }
}

.page-header__logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header__logo {
    color: white;
    font-family: var(--bebas);
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 3rem;
    letter-spacing: 0.1em;
    transition: color 0.2s;

    &:link,
    &:visited {
        color: white;
    }

    @include breakpoint(mobile) {
        margin-bottom: 0;
        line-height: 1;
        position: relative;
        z-index: 1300;
        margin-top: -0.4rem;
        display: block;
        .mobile-menu-open & {
            color: black;

            &:link,
            &:visited {
                color: black;
            }
        }
    }

    .page-header--dark & {
        color: black;
        &:link,
        &:visited {
            color: black;
        }
    }

    .page-header.fixed & {
        @include breakpointMF(small-tablet) {
            display: none;
        }
    }

    .page-header.fixed &,
    .page-header--filled &,
    .catalog-menu-open & {
        color: black;
        &:link,
        &:visited {
            color: black;
        }
    }
}

.page-header__mobile-menu {
    @include breakpoint(mobile) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 700;

        background-color: rgba(black, 0.6);
        padding: 0.4rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;

        .mobile-menu-open & {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.page-header__mobile-search {
    @include breakpointMF(small-tablet) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: rgba(black, 0.5);
        z-index: 1600;
        height: 100%;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;

        .search-open & {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
        &::-webkit-scrollbar {
            background-color: white;
            width: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: black;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }
    }

 
}

.page-header__mobile-search-inner {
    @include breakpointMF(small-tablet) {
        min-height: 70vh;
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
        padding-bottom: 7.2rem;
        background-color: #fff;
        color: black;
        position: relative;
    }
}

.page-header__mobile-search-close-btn {
    display: none;
    @include breakpointMF(small-tablet) {
        display: block;

        svg {
            width: 1.6rem;
            height: 1.6rem;
            display: block;
            fill: #000000;
        }
    }
}

.page-header__mobile-search-inner-container {
    @include breakpointMF(small-tablet) {
        width: 100%;
        max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
        margin: 0 auto;
        padding: 0 var(--content-padding);
        @supports (width: max(20vw, 100px)) {
            padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
            padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
        }
    }

    @include breakpoint(mobile) {
        position: relative;
        
    }
}

.page-header__mobile-search-input-wrapper {
    @include breakpointMF(small-tablet) {
        display: flex;
        align-items: center;
        margin-bottom: 8.5rem;
    }
    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
        padding: 2.6rem 1.4rem;
        position: relative;
        border-bottom: 1px solid #efefef;
    }
}

.page-header__mobile-search-suggestion {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #b3b3b3;
    margin-bottom: 6rem;
    font-weight: 500;

    @include breakpoint(mobile) {
        margin: 0;
        padding: 2.4rem 1.4rem;
    }
    a {
        text-decoration: underline;
        &:link,
        &:visited {
            color: black;
        }

        .no-touch &:hover {
            text-decoration: none;
        }
    }
}

.page-header__mobile-search-dropdown {
    @include breakpoint(mobile) {
        position: absolute;
        left: -1.6rem;
        right: -1.6rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        z-index: 30;
      

        top: 100%;
        height: auto;
        background-color: #fff;
        color: black;
        padding-bottom: 2.5rem;
        box-shadow: 0 1rem 1rem rgba(black, 0.1);

        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;

        display: none;

        .search-open & {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
            display: block;
        }
    }
}

.page-header__mobile-search-submit {
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    color: #1d2734;
    margin-left: 2rem;
    
    svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: currentColor;
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity .2s;
    }

    .icon-cross {
        opacity: 0;
    }

    .icon-search {
        opacity: 1;
    }

    .search-open & {
        .icon-cross {
            opacity: 1;
        }
        .icon-search {
            opacity: 0;
        }
    }

    @include breakpointMF(small-tablet) {
        display: none;
    }
}

.page-header__mobile-search-input {
    width: 50%;
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    @include placeholder {
        color: #b3b3b3;
    }

    @include breakpointMF(small-tablet) {
        font-size: 3.2rem;
        text-transform: none;
        padding-right: 6rem;
    }
}

.page-header__mobile-menu-inner {
    @include breakpoint(mobile) {
        padding-top: 9rem;
        height: 100%;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        padding-bottom: 8rem;
        background-color: #fff;
        padding-top: 8.5rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        @include noScrollbar();
    }
}

.page-header__nav {
    @include breakpoint(mobile) {
        padding-top: 1rem;
        padding-bottom: 1rem;
        // position: relative;
        // z-index: 20;
    }
}

.page-header__nav-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    width: 100%;
    z-index: 30;

    .page-header.fixed &,
    .page-header--filled & {
        margin-top: -4.5rem;

        @include breakpoint(mobile) {
            margin: 0;
            padding: 0;
        }
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }

    @include breakpoint(mobile) {
        position: static;
        left: auto;
        top: auto;
        opacity: 1;
        visibility: inherit;
        transition: none;
        .container {
            display: contents;
        }
    }
}

.page-header__nav-dropdown-inner {
    background: white;
}

.page-header__nav-dropdown-row {
    padding-top: 5.8rem;
    padding-left: 13rem;
    padding-right: 13rem;
    padding-bottom: 9rem;
    display: flex;

    @include breakpoint(tablet) {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    @include breakpoint(small-tablet) {
        padding-left: 0;
        padding-right: 0;
    }

    @include breakpoint(mobile) {
        padding: 0;
        flex-direction: column;
    }
}

.page-header__nav-dropdown-categories {
    width: 24rem;
    margin-right: 5rem;
    position: relative;

    @include breakpoint(small-tablet) {
        width: 22rem;
    }

    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
    }
}

.page-header__nav-dropdown-categories-layer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &.active {
        @include breakpointMF(small-tablet) {
            position: relative;
            opacity: 1;
            visibility: visible;
            z-index: 2;
            transition: opacity 0.4s, visibility 0.4s;
        }
    }

    @include breakpoint(mobile) {
        position: fixed;
        top: 0.4rem;
        left: 0.4rem;
        width: calc(100% - 0.8rem);
        height: 100%;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        background-color: #fff;
        z-index: 1800;

        padding-top: 12rem;
        padding-left: 8.4rem;
        padding-bottom: 5rem;
        padding-right: 1.6rem;

        @include noScrollbar();
        &.active {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.page-header__nav-dropdown-categories-link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        text-decoration: underline;
    }

    @include breakpoint(mobile) {
        margin-bottom: 3.2rem;
    }
}

.page-header__nav-list {
    display: flex;
    position: relative;
    z-index: 50;
    @include breakpoint(mobile) {
        flex-direction: column;
        margin-bottom: 5rem;
        z-index: 10;
    }
}

.page-header__nav-list-item {
    margin-right: 4rem;
    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.page-header__nav-link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: white;
    svg {
        width: 1rem;
        height: 0.6rem;
        fill: currentColor;
        flex-shrink: 0;
        margin-left: 1rem;

        @include breakpoint(mobile) {
            transform: rotate(-90deg);
        }
    }

    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1.6rem;
    }

    &:link,
    &:visited {
        color: white;
    }

    &--red {
        color: #ff0000 !important;
        &:link,
        &:visited {
            color: #ff0000 !important;
        }
    }

    &:hover {
        color: black !important;
    }

    .page-header--dark & {
        color: #b3b3b3;
        &:link,
        &:visited {
            color: #b3b3b3;
        }

        @include breakpoint(mobile) {
            color: black;
            &:link,
            &:visited {
                color: black;
            }
        }
    }

    .page-header.fixed &,
    .page-header--filled &,
    .catalog-menu-open & {
        color: #b3b3b3;

        &:link,
        &:visited {
            color: #b3b3b3;
        }

        &.active {
            color: black;
        }

        &:hover {
            color: black;
        }

        @include breakpoint(mobile) {
            color: black;
            &:link,
            &:visited {
                color: black;
            }
        }
    }

    @include breakpoint(mobile) {
        color: black;
        &:link,
        &:visited {
            color: black;
        }
    }
}

.page-header__cart {
    position: relative;

    @include breakpointMF(small-tablet) {
        z-index: 90;
    }
    &.active {
        .page-header__cart-dropdown {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }

        .page-header__cart-indicator {
            background-color: black;
            color: white;
        }
    }
}

.page-header__cart-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    position: absolute;
    top: 4.5rem;
    left: 6rem;

    @include breakpoint(mobile) {
        top: auto;
        left: auto;
        position: relative;
        min-height: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.page-header__cart-close {
    display: none;
    @include breakpoint(mobile) {
        display: block;

        svg {
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            fill: #1d2734;
            top: 50%;
            transform: translateY(-50%);
            right: 1.6rem;
            position: absolute;
        }
    }
}

.page-header__cart-indicator {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #fff;
    border-radius: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
    transition: background-color 0.2s, color 0.2s;

    position: relative;
    z-index: 400;
    .page-header--dark &,
    .page-header.fixed &,
    .page-header--filled &,
    .catalog-menu-open & {
        background-color: black;
        color: white;
    }
}

.page-header__cart-form {
    display: flex;
    flex-direction: column;
}

.page-header__cart-list {
}

.page-header__cart-list-item {
    padding: 2.4rem 0;
    border-top: 1px solid #efefef;

    @include breakpoint(mobile) {
        padding: 1.6rem 0;
    }
}

.page-header__cart-item {
    display: flex;
    align-items: center;
}

.page-header__cart-item-image-container {
    width: 7rem;
    height: 8.2rem;
    position: relative;
    background-color: #efefef;
    flex-shrink: 0;
    margin-right: 2.4rem;
    @include breakpoint(mobile) {
        margin-right: 1.6rem;
    }
}

.page-header__cart-item-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.page-header__cart-item-content {
    width: 50%;
    flex-grow: 1;
    display: flex;
}

.page-header__cart-item-info {
    width: 30%;
    flex-grow: 1;
}

.page-header__cart-item-info-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.4rem;
}

.page-header__cart-item-info-size {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.8rem;
}

.page-header__cart-item-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.page-header__cart-item-price-old {
    color: #656565;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration-line: line-through;
    margin-bottom: 0.5rem;
}

.page-header__cart-item-price-new {
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.page-header__card-delete-link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #b3b3b3;
    margin-top: auto;
    text-align: right;
    &:link,
    &:visited {
        color: #b3b3b3;
    }

    &:hover {
        color: black;
    }
}

.page-header__cart-item-price-simple {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.4rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__cart-total-prices {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 2.4rem;
    }
}

.page-header__cart-total-prices-item {
    padding: 2.4rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    border-top: 1px solid #efefef;
    &:last-child {
        border-bottom: 1px solid #efefef;
    }

    @include breakpoint(mobile) {
    }
}

.page-header__cart-dropdown {
    position: absolute;
    right: calc(-1 * var(--content-padding));
    top: -4rem;
    width: 60rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    .page-header--dark &,
    .page-header--filled & {
        box-shadow: 0 0 1rem rgba(black, 0.1);
        @include breakpoint(mobile) {
            box-shadow: none;
        }
    }

    @include breakpoint(mobile) {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.6);
        padding: 0.4rem;
        z-index: 1800;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

.page-header__cart-dropdown-inner {
    padding-top: 10rem;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-bottom: 4rem;
    background-color: #fff;

    @include breakpoint(mobile) {
        padding: 0;
        padding: 1.6rem;
        padding-top: 0;
        padding-bottom: 2.4rem;
    }
}

.page-header__cart-submit-btn {
    width: 23rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: white;
    background: #181818;
    padding: 1.8rem 3.6rem;
    margin-left: auto;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        padding: 1.6rem 5rem;
        margin: 0 auto;
        flex-shrink: 1;
        width: auto;
    }
}

.page-header__nav-dropdown-brands {
    margin-right: 3rem;
    @include breakpoint(mobile) {
        margin-right: 0;
        padding: 0 1.6rem;
        margin-bottom: 7.5rem;
    }
}

.page-header__nav-dropdown-brands-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.2rem;
}

.page-header__nav-dropdown-brands-link {
    font-weight: 500;
    color: #b3b3b3;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    &:link,
    &:visited {
        color: #b3b3b3;
    }

    &:hover {
        color: black;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__nav-dropdown-cards {
    margin-left: auto;
    display: flex;
    width: 78rem;
    justify-content: space-between;

    @include breakpoint(large-desktop) {
        width: 60rem;
    }

    @include breakpoint(desktop) {
        width: 50rem;
    }

    @include breakpoint(mobile) {
        margin: 0;
        flex-direction: column;
        justify-content: initial;
        flex-direction: column;
        width: 100%;
    }
}

.page-header__nav-dropdown-cards-item {
    margin-right: 4rem;
    width: 35rem;

    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(large-desktop) {
        width: 30rem;
    }

    @include breakpoint(desktop) {
        width: 28rem;
    }

    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        margin-bottom: 4rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-header__nav-dropdown-card {
    display: flex;
    flex-direction: column;

    &:link,
    &:visited {
        color: black;
    }

    &:hover {
        .page-header__nav-dropdown-card-details {
            color: black;
        }
    }
}

.page-header__nav-dropdown-card-image-container {
    position: relative;
    margin-bottom: 2.4rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    .no-touch &:hover {
        .page-header__nav-dropdown-card-image {
            transform: scale(1.03);
        }
    }
}

.page-header__nav-dropdown-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    @include objectFitCover();
}

.page-header__nav-dropdown-card-1-title {
    font-family: var(--playfair);
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin-bottom: 2rem;
}

.page-header__nav-dropdown-card-details {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #b3b3b3;
    transition: color 0.2s;
}

.page-header__nav-dropdown-card-season {
    font-size: 1.2rem;
    font-weight: 500;
    color: #b3b3b3;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
}

.page-header__nav-dropdown-card-2-title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.page-header__nav-dropdown-card-2-price {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.page-header__cart-item-info-quantity,
.checkout__cart-card-quantity {
    width: 3.6rem;
    .choices {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;

        position: relative;
    }

    .choices.is-open {
        z-index: 30;
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding-bottom: 0.5rem;
    }

    .choices__inner {
        padding: 0.5rem 0;
        background: transparent;
        border-radius: 0;
        border: none;
        font-size: 1.4rem;
        line-height: 1.7rem;
        min-height: auto;
        display: flex;
        align-items: center;
    }

    .choices__list--single {
        padding: 0;
        padding-right: 2rem;
    }

    .choices[data-type*='select-one']:after {
        border: none;
        margin: 0;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.5 4.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23979797; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M1.39.21A.88.88,0,0,0,.25.21a.71.71,0,0,0,0,1.08l3.43,3a.88.88,0,0,0,1.14,0l3.43-3a.71.71,0,0,0,0-1.08.88.88,0,0,0-1.14,0L4.25,2.71Z' /%3E%3C/svg%3E");
        width: 1.2rem;
        height: 0.6rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateY(-50%) rotate(0deg);
        transition: transform 0.2s;
    }

    .choices[data-type*='select-one'].is-open::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .choices__list--dropdown {
        word-break: initial;
        border: none;
        background: white;
        border-radius: 0.4rem !important;

        margin-top: 0;
        box-shadow: 0 0 1rem rgba(black, 0.1);
    }

    .choices__list--dropdown .choices__item {
        font-size: 1.4rem;
        line-height: 1.7rem;

        padding: 0.4rem 1rem;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background: black;
        color: white;
    }

    .choices__list--dropdown .choices__list {
        max-height: 28rem;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: #f5f5f5;
        }

        @include breakpoint(mobile) {
            max-height: 15rem;
        }
    }
}

.page-header__cart-item-info-quantity select,
.checkout__cart-card-quantity select {
    @include breakpoint(mobile) {
        border: none;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        padding-right: 1.6rem;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.5 4.5'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23979797; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M1.39.21A.88.88,0,0,0,.25.21a.71.71,0,0,0,0,1.08l3.43,3a.88.88,0,0,0,1.14,0l3.43-3a.71.71,0,0,0,0-1.08.88.88,0,0,0-1.14,0L4.25,2.71Z' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 1.2rem auto;
        font: inherit;
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 500;
        color: black;
    }
}

.page-header__burger {
    display: none;
    flex-shrink: 0;
    position: relative;
    z-index: 1300;
    @include breakpoint(mobile) {
        display: block;
    }
}

.page-header__burger-content {
    display: flex;
    flex-direction: column;

    & > span {
        width: 18px;
        height: 2px;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 4px;
        transition: background-color 0.2s, transform 0.2s;

        .page-header.fixed &,
        .page-header--dark &,
        .page-header--filled & {
            background-color: #1d2734;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .mobile-menu-open & {
            background-color: #1d2734;
            &:nth-child(1) {
                transform: translateY(6px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-6px) rotate(-45deg);
            }
        }
    }
}

.page-header__nav-dropdown-categories-back-link {
    display: none;

    @include breakpoint(mobile) {
        display: block;
        margin-bottom: 5rem;
        text-transform: uppercase;
        position: relative;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.2;
        margin-left: -4rem;
        padding-left: 4rem;
        svg {
            position: absolute;

            top: 50%;
            transform: translateY(-50%);
            width: 0.8rem;
            height: 1.2rem;
            fill: #1d2734;
            left: 0;
        }
    }
}

.page-header__cart-scroll-wrapper {
    @include breakpointMF(small-tablet) {
        // max-height: 54rem;
        // overflow-x: hidden;
        margin-right: -1rem;
        padding-right: 1rem;
        overscroll-behavior: contain;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: black;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }
    }
}
