.register {
    padding-top: 23rem;
    margin-bottom: 20rem;

    @include breakpoint(mobile) {
        padding-top: 10rem;
        margin-bottom: 5rem;
    }
}
.register__row {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.register__left-col {
    width: 34rem;
    margin-right: 5rem;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 5rem;
    }
}

.register__right-col {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.register__heading {
    margin-bottom: 3.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 2.5rem;
    }
}

.register__has-account-link {
    font-family: var(--sfui);
    color: #808080;
    font-size: 1.4rem;
    line-height: 2rem;
    border-bottom: 1px solid #808080;
    transition: border-color 0.2s;

    @include breakpoint(mobile) {
        margin-left: auto;
    }

    &:link,
    &:visited {
        color: #808080;
    }

    &:hover {
        border-color: transparent;
    }
}

.register__form-row {
    display: flex;
    flex-wrap: wrap;
    margin: -0.8rem -1.6rem;
    margin-bottom: 3.4rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.register__form-col {
    width: 50%;
    padding: 0.8rem 1.6rem;

    @include breakpoint(mobile) {
        width: 100%;
    }
}

.register__submit {
    margin-left: 2rem;

    @include breakpoint(mobile) {
        margin-left: 0;
    }
}

.register__subscription-checkbox {
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.register__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.4rem;
    border-top: 1px solid #e7e7e7;

    @include breakpoint(mobile) {
        padding-top: 3rem;
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
    }
}

.register__forgot-password {
    font-family: var(--sfui);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #313131;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
    &:link,
    &:visited {
        color: #313131;
    }

    &:hover {
        text-decoration: underline;
    }
}

.register__account-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6.2rem;

    @include breakpoint(mobile) {
        margin: 0;
        width: 100%;
    }
}

.register__account-nav-list-item {
    margin-bottom: 4rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.register__account-nav-link {
    color: #313131;
    font-family: var(--sfui);
    font-size: 1.4rem;
    line-height: 2rem;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
    display: inline;
    &:link,
    &:visited {
        color: #313131;
    }

    &:hover,
    .register__account-nav-list-item.active & {
        border-color: black;
    }
}

.register__account-info {
    margin-bottom: 7.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
    table,
    thead,
    tbody,
    tr,
    th,
    td {
        display: block;
    }

    td,
    th {
        width: 50%;
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: left;
        font-family: var(--sfui);
        font-weight: 400;
        color: #313131;
    }

    td {
        text-transform: uppercase;
        font-weight: 500;
    }

    tr {
        display: flex;
        align-items: baseline;
        padding: 2.4rem 0;
        border-bottom: 1px solid #efefef;

        @include breakpoint(mobile) {
            padding: 1.8rem 0;
        }
    }
}

.register__my-orders {
    font-family: var(--sfui);

    table,
    thead,
    tbody,
    tr,
    th,
    td {
        display: block;
    }

    th {
        color: #313131;
    }

    th,
    td {
        width: 20%;
        flex-grow: 1;
        color: #2a2a2a;
        font-weight: 400;
        text-align: left;
    }

    thead {
        th {
            font-size: 1.4rem;
            line-height: 2rem;
        }

        tr {
            padding-bottom: 1.6rem;
            border-bottom: 1px solid #313131;
            padding-top: 2.4rem;
            display: flex;
            align-items: baseline;
        }
    }

    tbody {
        tr {
            display: flex;
            padding: 4.5rem 0;
            border-bottom: 1px solid #efefef;
        }

        td {
            &:nth-child(3),
            &:nth-child(4) {
                font-weight: 500;
            }
        }
    }
}

.register__my-orders-status {
    display: inline-flex;
    align-items: center;
    color: black;
    font-weight: 500;
    &::before {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        background-color: #f6f6f6;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 0.8rem;
        border: 1px solid #efefef;
    }
    &:link,
    &:visited {
        color: black;
    }

    &--delivered {
        &::before {
            background-color: #60ec00;
        }
    }
}

.register__my-orders-link {
    display: inline-flex;
    align-items: center;
    color: #808080;

    svg {
        width: 0.6rem;
        height: 1.2rem;
        fill: #1d2734;
        margin-left: 1.2rem;
        position: relative;
        bottom: -0.1rem;
    }
    &:link,
    &:visited {
        color: #808080;
    }

    &:hover {
        color: black;
    }
}
